.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
    margin: 1rem;
  }

  .footer p {
    color: #fff;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }